.custom-homepage-columns {
  column-gap: 32px !important;
  display: flex;
  height: 394px;
  max-height: 394px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: hidden;

  .col {
    min-width: 310px;
    max-width: 310px;
    flex: none !important;
    height: 362px;

    .topic-list {
      .topic-list-header {
        display: none;
      }

      .topic-list-body {
        tr.topic-list-item {
          border-color: $border_color;
          &:nth-child(odd) {
            background: transparent;
          }
          .posters,
          .num.posts-map.posts,
          .num.views,
          .num.activity {
            display: none;
          }

          &:last-child {
            border: none;
          }

          .main-link {
            padding: 24px 24px 24px 0;
            width: calc(100% - 24px);
            display: inline-flex;
            justify-content: space-between;

            .link-bottom-line {
              display: none;
            }

            .link-top-line {
              width: calc(100% - 28px);
              .topic-statuses {
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                .topic-status {
                  .d-icon {
                    font-size: 14px;
                    line-height: 20px;
                    color: $text_color;
                  }
                }
              }

              .title.raw-link {
                height: 20px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;

                padding: 0;
                font-weight: 400;
                font-size: 14px;
                color: $text_color;
                line-height: 20px;
              }
            }

            &::after {
              content: "↗";
              color: $hover_text_color;
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              width: 20px;
              margin-left: 8px;
              visibility: hidden;
            }

            &:hover {
              cursor: pointer;
              .topic-statuses {
                .topic-status {
                  .d-icon {
                    color: $hover_text_color;
                  }
                }
              }

              .title.raw-link {
                color: $hover_text_color;
              }

              &::before {
                display: none;
              }

              &::after {
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
}
